<%- include('partials/header') %> 

    <h1>Home</h1>
    <p> <%= homeStartingParagraph %> </p>

    <% posts.forEach((post) => { %>
       <h1><%= post.title %> </h1>
        <% if (post.content.length < 100) { %>
            <p> <%= post.content %> </p>
        <% } else { %>
            <%= post.content.substring(0, 100) + " ...." %>
            <a href="posts/<%= post._id %> ">Read more</a>
        <% } %> 
    <% }); %>

<%- include('partials/footer') %> 